<%- include('../partials/header') %>

<h1>Home Page</h1>

<div class="jumbotron text-center">
<h2>Post what you want!</h2>
</div>

<div id="logout">
<a href="/logout" class="btn btn-info" role="button">LOG OUT</a>
</div>
<div>
    <form id="new-post" action="/boxes/<%= boxes._id %>" method="POST">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Type Here:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
        </div>
        <input type="submit" class="btn btn-info" value="Create Post">
    </form>
    <hr>

<% if(boxes.length) { %>
    <ul>
        <% boxes.forEach(function(box) { %>
           <li><%= box.content %></li>
           <form action="/boxes/<%= box._id %>?_method=DELETE" method="POST">
            <div class="delete-btn">
            <button type="submit" class="btn btn-info">Delete Post</button>
            </div>
            </form>
            <form action="/boxes/<%= box.id %>/edit">
                <div class="edit-btn">
                <button type="submit" class="btn btn-info">Edit Post</button>
                </div>
            </form>
       <% }) %>
    </ul>
<% } else { %>
    <div id="post-area">
    <h2>No Posts Yet!</h2>
    </div>
<% } %>
 
  
</div>
















<%- include('../partials/footer') %>