<%- include('../partials/header') %>

<h1>Home Page</h1>

<div id="boxes-page">
<h2>Post what you want!</h2>
</div>

<div id="logout">
<a href="/logout">LOG OUT</a>
</div>
<div>
    <form id="new-post" action="/boxes/<%= boxes._id %>" method="POST">
        <input type="text" name="content">
        <input type="submit" value="Create Post">
    </form>
    <hr>

<% if(boxes.length) { %>
    <ul>
        <% boxes.forEach(function(box) { %>
           <li><%= box.content %></li>
           <form action="/boxes/<%= box._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
            </form>
            <form action="/boxes/<%= box.id %>/edit">
                <button type="submit">Edit Post</button>
            </form>
       <% }) %>
    </ul>
<% } else { %>
    <div id="post-area">
    <h2>No Posts Yet!</h2>
    </div>
<% } %>
 
  
</div>
















<%- include('../partials/footer') %>